* {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    }
    h1 {
    color: gold;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0px;
    margin-bottom: 2rem;
    text-align: center;
    }
    h2{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    }
    p.profile{
    font-size: 2rem;
    color: #000;
    margin-bottom: 5rem;
    }
    .container-main{
    max-width: 100%;
    margin: 0 auto;
    padding: 3rem 3rem;
    text-align: center;
    background: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .container-portfolio{
    max-width: 100%;
    margin: 0 auto;
    padding: 3rem 3rem;
    text-align: center;
    background: linear-gradient(50deg, hsla(220,15%, 34%, 1), #7b2736);
    }
    
    .image{
    margin-top: 4rem;
    margin-bottom: 4rem;
    }
    
    .btn{
    display: inline-block;
    padding: 1rem 4rem;
    margin-bottom: 2rem;
    font-size: 1.0rem;
    text-decoration: none;
    background-color: #575494;
    color: #fff;
    border-radius: 5px;
    transition: 500ms ease
    }
    .btn:hover{
    background: #e66465;
    }

    .works{
        display: table-cell;
        display: inline-block;
        width: 600px;
        margin-bottom: 2rem;
        font-size: 1rem;
        background-color: #fff;
        color: black;
        border-radius: 22px 0px;
        border-spacing: 2rem;
 
    }

    .works-img{
        display: table-cell;
        padding: 5px;
        width: 550px;
        height: 500px;
        border-radius: 22px 0px;

    }

    